# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Generate and Deploy Documentation

on:
  push:
    branches:
      - main
      - develop

jobs:
  build-and-deploy:
    runs-on: macos-13
    
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
    
    - name: Install SourceDocs
      run: brew install sourcedocs
      
    - name: Build project
      run: swift build
    
    - name: Generate Documentation
      run: sourcedocs generate --all-modules
    
    - name: Commit Documentation
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add .
        git commit -m "Update documentation"
    
    - name: Push Changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        force: true
